/* onesearch logo */

/* under search box */
#ResetButton {display:none !important;}
h3 {display:none;}
#limiterExpanderControl {border:none;}
#limiterExpanderControl fieldset:first-of-type {display:none !important;}


#lr-start-branding {width:100%; max-width:740px;  margin:0 auto;}
#college-logo {float:right; margin: 10px 8px 0 0;}
#onesearch-logo {padding-top:10px; max-width: 100%;}
@media (max-width: 1024px) {
	#college-logo {display:none;}
}