/* fix for GotS, libWizard and other iframes */
body {overflow-y:visible !important;}
.hidden-access {position:absolute; left:-999999px;}
ul.book-details {display:none;} /* LC stuff near book jacket */
/* placard results feature 
.custom-placard {border-width: 2px; border-style: outset; border-color: #8c140f; background-color: #e6da9c; padding: 10px;}
.placard-heading {font-size:120%;font-weight:bold;color:black;}
*/
/* fade in tips */
@keyframes fadein {    from {        opacity:0;    }    to {        opacity:1;    }}
@-moz-keyframes fadein { /* Firefox */    from {        opacity:0;    }    to {        opacity:1;    }}
@-webkit-keyframes fadein { /* Safari and Chrome */    from {        opacity:0;    }    to {        opacity:1;    }}
@-o-keyframes fadein { /* Opera */    from {        opacity:0;    }    to {        opacity: 1;    }}
#tip-container {border:2px solid #8c140f;background-color:#FFF9E6;padding:10px 16px; height:auto; margin:0 auto 4px; font-size:120%; animation: fadein 1s; -moz-animation: fadein 1s; -webkit-animation: fadein 1s;}
#problem-note {font-size:150%; width:80%; max-width:900px; margin:10px auto 20px; position:relative;border:1px solid #ccc; background: #f9edbe; padding:8px;}
#problem-note-dismiss {font-size:12px;}
.tip-heading {font-size:120%;font-weight:bold;}
#lr-tip-content ul {margin-left:2em; list-style-type: disc;}
#lr-tip-content p {padding-bottom:.5em;}
#rating-container {width:20%; min-width:160px; float:right;}
.search-or-detail {max-width: 500px;}
#tip-container.results {width:90%;}
#close-tip {float:right; font-weight:bold; margin-top:-10px; margin-right:-16px;}
/* there are no result widgets curretnly - when subjects are added, delete below */
.related-info-area h3 {display:none;}
#ratings button:first-child {margin-right:6px;}
.image-inline[title="Open Access"] {display:none;}
/*
.display-info a, .controls a, #findFieldLinks a, .custom-link a, #citationFields a, a.search-terms, a.more-link, .content-footer a, a.rtac-show-more, .anchor-links a {color: #8A0028 !important;}
*/
/* Primo beta link */
#lr-primo-link {float:right; position: relative; padding:0 !important;}
#lr-primo-link button {position: absolute; z-index:9999; top:0; right:0;}
#lr-primo-link a {display: inline-block; height:100%; padding:10px 40px 10px 10px;}
#lr-primo-link a:hover, #lr-primo-link a:focus {text-decoration: none; color:#000;}
/* pub finder placards */
/* #PlacardTitle1_edspub strong {text-decoration:underline;} */
.truncate {overflow: visible;}
#PlacardTitle1_edspub strong::after {font-weight:normal; text-decoration:underline; font-size:70%; display:inline-block; margin-left:10px; content:"More info";}
/* gvrl and research starters */
/* .placard-container {display:none;} */ 
.section-title {font-size:1.4em;}
.callout-list {border: 1px solid #e7e7e7 !important;  }
.result-list-li.callout-list {border: 1px solid #e7e7e7; padding:10px; margin:0 auto; position:relative; padding-top:2px !important;}
.callout-entry-title {font-size:1.4em; font-weight:bold;}
.callout_source {font-weight:normal; font-size:1.2em;}
.callout_list_item {margin-bottom:10px;}
.callout-blurb:nth-of-type(1) {margin-top:10px; font-size:110%;}
.has-img .callout-entry-title {font-size:1.5em;}
.has-img .callout_blurb {margin-top:10px; font-size:120%;}
.has-img .callout-title {overflow:hidden;}
.has-img img {float:left; padding-right:10px;max-width:130px; max-height:100px;}
.callout-read-more {font-weight:bold;}
#callout-more-results, .callout-list button {float:right;}
.callout-list button{position:absolute; right:0; top:0;}
#loader {width:32px; height:32px; margin:0 auto;}
#loader.shown {display: block; margin: 0 auto -32px auto;}
#iframe-loading {position:relative; height:15px;}
#show-kw-search {background:transparent; border:none; color:#005bc6; font-style:italic; cursor:pointer; margin-top:1em;}
#submit-area {clear:both;}
.record-has-rtac th {font-size:1.5em;}
.record-has-rtac td {font-size:1.3em;}
#resultListControl .rtac-table {font-size:120%;}
#resultListControl .custom-link a[title~="request"] {display:none;} /* hidden by default, script unhides as necessary */
#reserves-close-but {float:right;}
#rtac_panel {display:none;}
.rtac.toggle-container {border:1px solid #ccc !important;}
.lois-req-but {position:relative; z-index:998;}
#OCLCCites + div, #combinedScripts + div, #BookPreview + div, #ConditionalRequest + div, #rtacshowmore-alsoribbons + div, #SendHoldings + div {display:none !important;}
/* not needed?  #gbsfound + div {display:block !important;} */
/* permalink copying feature */
#lr-permalink-dd {margin-top:-.5em !important;}
#lr-input-permalink {width:80%;}
#lr-copy-permalink {display:none; font-size:1em !important; height:auto !important; padding:4px !important; }
#lr-permalink-dialog {background: #F9EDBE; width: auto !important;}
#lr-permalink-copied {height:auto !important;text-align: center; background:#F9EDBE; padding:4px;}
#lr-permalink-dialog .ui-resizable-handle {display: none !important; }
#lr-permalink-dialog .ui-dialog-titlebar {display:none;}

/* conditional request & ereserves */
#lr-frame-container {width:100%; max-width:820px; padding:0; margin: 10px auto 0; border:1px solid #ccc; border-radius:2px;}
.lr-frame-closer {text-align:right; position:relative; z-index:998;}
#req-newwin {float:left;}
#request-container {overflow:hidden;}
#secondary-request {float:right;background: #fff;padding: 8px; margin-top: 4px;}
.lr-req {margin:0 auto -90px auto; top:-90px;}
.lr-eres {margin:0 auto; top:0px;}
#request {float:left;}
#secondaryLinks {float:right; border:1px solid #ccc; border-top:none !important;}
#secondaryLinksToggle {background:#fff; border:none; cursor:pointer; float:right;}
.results-lois-request-area.hidden {height:0; /* transition:height 1s; -webkit-transition: height 1s; */}
.results-lois-request-area {width:100%; margin-top:4px;}
.results-lois-req-container { padding: 0; padding-left:10px; border: 1px solid #ccc; margin-left: 90px; min-width:540px;}
.results-lois-req-controls {background:#ccc; border:1px solid #000; margin:0; margin-left: -10px; padding:0 8px; position:relative; z-index:998;}
.results-lois-req-container button {float:right;}
.new-win {color:#000 !important; text-decoration:underline !important; display:inline-block; margin-top:10px;}
.request-overflow {position:relative; overflow:hidden; margin:0 auto -90px; padding-top:20px;}
.request-lois-iframe {position: relative; top: -90px; left: -4px; height:680px; }
#request-container {overflow:hidden;}
#secondary-request {float:right;background: #fff;padding: 8px; margin-top: 4px;}
#reqframe-closer {overflow:hidden;}
#request-scroll {position:relative; z-index:200;  right:20px; text-align:right; width:100%;  background:#fff; border:1px none #ccc;}
#request-frame {max-width:800px; position:relative;}
.lr-req {margin:0 auto -90px auto; top:-90px;}
.lr-eres {margin:0 auto; top:0px;}
#request {float:left;}
#secondaryLinks {float:right; border:1px solid #ccc;}
#secondaryLinksToggle {background:#fff; border:none; cursor:pointer; float:right;}
/* animations */
#secondary-request {
    -webkit-animation: myfirst .2s;  /* Chrome, Safari, Opera */
    animation: myfirst .1s;
}
#secondary-request li {
    -webkit-animation: myfirst .2s;  
}
#secondary-request li a {
    -webkit-animation: myfirst .2s;
    -webkit-animation: color .3s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {height:0;}
  
        100% {height:auto;}
}
@-webkit-keyframes color {
    
    0% {color:#fff;}
    60% {color:#fff;}
    100% {color:initial;}
}
#sendframe {
    -webkit-animation: myfirst .2s;
}

/* email - text feature */
#frame-heading {border-bottom: 2px solid #ccc;}
#sendframe .icon {border:1px solid #ccc; padding:2px; margin-right:4px; float:left;}
#sendframe h2 {font-size:18px; padding-left:8px;}
.text-this {position:absolute; padding-left:8px;}
.email-text-holdings {padding:0 3px !important; margin:0 !important; height:14px !important;}
#sms-icon {position:relative; top:2px;}
 .lr-save-icon {vertical-align: top; } 

/* ribbons on similar books */
.lib-ribbon {position:relative; z-index:400;  background:#fff; border:1px solid #ccc; top:10px; left:10px; width:80px; text-align:right;}
.in-LOIS {margin-top: -10px !important;}

/* increase size of book images */
#bookJacket img {max-width:160px !important;}

#lr-problem-reporter {padding:5px !important; font-size: 1em;}
/* ga opt out in footer */
#opt-area, .branding-container {text-align:left;}
#opt-out, #opt-in {display:block; font-size:90%;}
button.disabled {background: #eee; border:1px solid #ccc;}
#ga-note {font-size:120%; margin-top:20px;}
#ga-note p {margin: 0.5em 0;}
#ui-dialog-title-ga-note {margin-left:1em; font-size:1.5em; position:relative; top:1em;}
.ui-dialog-buttonpane .ui-state-hover {background: none;}
#cat-update-note { font-style:italic;}
/* my account */

#account-container {margin:0 auto; width:760px; height:900px; overflow:hidden; border: 1px solid #000; border-top: 0; padding-top: 10px;}
#acctframe {position:relative; z-index:200; left:-4px; width:100%;  background:#fff; }
#myAcct {max-width:800px; margin:0 auto -90px auto; position:relative; top:-90px;}
#acct-closer {width:760px; margin:0 auto;   border: 1px solid #000; border-bottom: 0;  background: #ccc;}
#acct-closer a:link, #acct-closer a:visited {color:#000; text-decoration:underline;}
#acct-closer button {float:right;}
#gbButton {position:absolute; margin-left:8px; cursor:pointer;}
/* citation feature */
.lr-cite-label {float: left;width: 8em;clear: both;font-weight: bold;}
.lr-cite-value { margin: 0 0 0 10em;}
#easybib-ul li {border-bottom: 1px solid #ccc;padding:1em 0;}
#easyBibDialog .lr-loader {display:block;width: 32px; height:32px; margin:0 auto;}
.lr-email-cite {font-size:120%; margin-bottom:1em;}
#emailCiteForm div {margin-top:1em;}
#emailCiteForm label {display:inline-block; min-width:5em;}
@media (max-width: 1023px) {
	.branding-container {display:block !important;}
	#lr-input-permalink {width:100%;}
	#optionsControls {z-index:1000;}
	.dateSliderPublication {display:block !important;}
}
@media (max-width:620px) {
	.lois-req-but {margin-left:0 !important;}
	#citationFields dd {margin-left: 0; padding-left: 0;}
	#citationFields dt {float:none; width:auto;}
	.rtac.toggle-container {clear:right; overflow-x:auto !important;}
	.lr-cite-label {float:none; width:auto;}
	.lr-cite-value {margin-left:0;}
 #lr-primo-link {min-height: 60px;}
}