#betaDiv {background:#fff;  border-radius:8px; text-align:center; padding:4px;}
.beta-side {
    position:fixed; right:8px; top:120px; width:140px; z-index:1000; opacity:0.8;
}
.beta-footer {
    position:relative; width:140px; margin:0 auto;
}

#try-beta { -webkit-border-radius: 3px;-moz-border-radius: 3px; -ms-border-radius: 3px;        -o-border-radius: 3px;        border-radius: 3px;           -webkit-box-shadow: none;        -moz-box-shadow: none;        box-shadow: none;        -webkit-transition-property: background;        -moz-transition-property: background;        -o-transition-property: background;        transition-property: background;        -webkit-transition-duration: 0.3s;        -moz-transition-duration: 0.3s;        -o-transition-duration: 0.3s;        transition-duration: 0.3s;        color: #ffffff;        text-shadow: none;        border: none;        height: auto;        line-height: 16px;        padding: 2px 18px;        font-weight: 300;        font-size: 14px;        font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;               text-decoration: none;        text-align: center;        display: inline-block ;         background: #0971B2; margin:0 0 8px 0;    }

#try-beta:hover, #try-beta:focus {background: #0B88D6; text-decoration: none;        color: #ffffff; cursor:pointer;}
#beta-hide label {cursor:pointer; background:#fff; font-style:italic; }
.beta-footer #beta-hide, .beta-footer label {display:none;}
