<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
var gbsWidget = window.parent.document.querySelector('#BookPreview + div');

function gbsNotFound()
{
console.log('gb preview not found');
    gbsWidget.setAttribute('style', 'display:none !important');
}

function initialize()
{
    gbsWidget.setAttribute('style', 'display: block !important'); // must display so that viewer can be sized correctly
    var oclcClean = 'ep.OCLC'.replace('ocm', ''); // strip ocm out of OCLC numbers that show it
    var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'), {
        showLinkChrome: false
    });
    viewer.load(['ISBN:ep.ISBN', 'OCLC:' + oclcClean], gbsNotFound, window.parent._LR.fn.showGBLink); // if match is not found, calls function to hide the div again. otherwise shows button and preview
}
(function ()
{
    var DDs = window.parent.document.getElementsByTagName('dd');
    for (var i = 0; i < DDs.length; i++) {
        if (DDs[i].textContent.indexOf('Book') === 0) {
 /*           var a = document.createElement('script');
            a.src = '//www.google.com/jsapi';
            a.async = false;
            document.getElementsByTagName('head')[0].appendChild(a);*/

            var citeFields = window.parent.document.getElementById('citationFields');
    if (citeFields)
    {
        if ((citeFields.innerHTML.indexOf('ISBN:') > -1) || (citeFields.innerHTML.indexOf('OCLC:') > -1))
        {
            google.load("books", "0");
            google.setOnLoadCallback(initialize);
console.log('google books script loaded');
        }
    } 
            
     
}
    }
    
   
})();
</script><!-- <div> dummy text</div> -->
<div id="viewerCanvas" style="height: 1100px;"></div>