<script>
  var gaID = 'UA-44798235-3';
  if (document.cookie.indexOf('lrGAOptOut=y') > -1) {
    window['ga-disable-' + gaID + ''] = true;
  }
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '' + gaID + '', 'auto');
setTimeout(function(){
ga('send', 'pageview', location.pathname + location.search + location.hash);
}, 500);
  ga('set', 'anonymizeIp', true);
</script>
	<style type="text/css">
		@import url("//www.library.losrios.edu/resources/onesearch/style.css?0531");
		@media screen and (max-width: 1040px) {
			.text-this {
				position: static;
			}
		}
	</style>

	<script type="text/javascript" src="//www.library.losrios.edu/resources/onesearch/bottom-branding/losrios-bbV2.min.js?0531a"></script>


	<!--CRC ONLY BELOW HERE -- Start of Zopim Live Chat Script-->

	<script src="//v2.zopim.com/?2ZGZ6mvHkstnvlAyFqfxKyKKP8uvAanZ" charset="utf-8" type="text/javascript"></script>
	<!--End of Zopim Live Chat Script-->