<script>
  var gaID = 'UA-44798235-2';
  if (document.cookie.indexOf('lrGAOptOut=y') > -1) {
    window['ga-disable-' + gaID + ''] = true;
  }
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '' + gaID + '', 'auto');
setTimeout(function(){
ga('send', 'pageview', location.pathname + location.search + location.hash);
}, 500);
  ga('set', 'anonymizeIp', true);
</script>
	<style type="text/css">
		@import url("//www.library.losrios.edu/resources/onesearch/style.css?0531");
		@media screen and (max-width: 1040px) {
			.text-this {
				position: static;
			}
		}
	</style>

	<script type="text/javascript" src="//www.library.losrios.edu/resources/onesearch/bottom-branding/losrios-bbV2.min.js?0531"></script>
	<!-- ARC ONLY -->
	<script>
		// put chat widget in main content area so it doesn't get covered by footer area
		(function () {
			var a = document.createElement("div");
			a.setAttribute("class", "needs-js");
			document.getElementById("content").appendChild(a);
		})();
	</script>


	<script type="text/javascript">
		(function () {
			var x = document.createElement("script");
			x.type = "text/javascript";
			x.async = true;
			x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "us.libraryh3lp.com/js/libraryh3lp.js?8699";
			var y = document.getElementsByTagName("script")[0];
			y.parentNode.insertBefore(x, y);
		})();
	</script>
	<!-- Hide chat from print -->
	<style type="text/css">
		.needs-js,
		.libraryh3lp {
			position: fixed;
			z-index: 1000;
			right: 10px;
			bottom: 10px;
		}
		
		@media print {
			.needs-js {
				display: none;
			}
		}
	</style>