<script>
  var gaID = 'UA-44798235-5';
  if (document.cookie.indexOf('lrGAOptOut=y') > -1) {
    window['ga-disable-' + gaID + ''] = true;
  }
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '' + gaID + '', 'auto');
setTimeout(function(){
ga('send', 'pageview', location.pathname + location.search + location.hash);
}, 500);
  ga('set', 'anonymizeIp', true);
</script>
	<style type="text/css">
		@import url("//www.library.losrios.edu/resources/onesearch/style.css?0531");
		@media screen and (max-width: 1040px) {
			.text-this {
				position: static;
			}
		}
	</style>

	<script src="//www.library.losrios.edu/resources/onesearch/bottom-branding/losrios-bbV2.min.js?0531a"></script>
	<!-- <!-- SCC ONLY below this line -->
	<!-- libraryh3lp -->
	<style type="text/css">
		.ask-block {
			background-color: rgba(255, 255, 255, 0.8);
			padding: 8px;
			position: fixed;
			bottom: 20px;
			right: 20px;
			z-index: 1500;
			text-align: center;
		}
		
		.ask-block a,
		#ask-block-active p {
			color: #8A0028;
			font-weight: bold;
		}
		
		.ask-block p a:hover,
		.ask-block a:focus {
			text-decoration: underline;
		}
		
		#ask-block-inactive {
			width: 130px;
		}
		
		#ask-block-inactive img {
			height: 57px;
			width: 75px;
		}
		
		@media print {
			.libraryh3lp {
				display: none;
			}
		}
	</style>


	<script type="text/javascript">
		// put chat widget in main content area so it doesn't get covered by footer area
		(function () {
			var a = document.createElement("div");
			a.setAttribute("class", "needs-js");
			document.getElementById("content").appendChild(a);
		})();

		(function () {
			var x = document.createElement("script");
			x.type = "text/javascript";
			x.async = true;
			x.src = "//us.libraryh3lp.com/js/libraryh3lp.js?6531";
			var y = document.getElementsByTagName("script")[0];
			y.parentNode.insertBefore(x, y);
		})();
	</script>