body {font-family:Arial, sans-serif; height:auto; max-width:700px;}
.ui-menu {z-index:1000; background:#fff; max-height:100px; list-style-type: none; padding-left: 0; width:200px; border:1px solid #ccc; overflow-y: scroll; overflow-x:hidden;}
.ui-menu-item {padding:4px 0; margin-left:0; list-style-type: none; font-size:13px;}
.ui-menu-item:hover, .ui-menu-item:focus, .ui-state-hover, .ui-state-focus {cursor: pointer; background:#005bc6; color:#fff; font-weight: bold;}
.ui-helper-hidden-accessible {display: none;}
input, select {margin-bottom:10px; width:140px;}
input {display:inline; font-size:13px;}
label {display:block; font-size:13px;}
.column1 {float: left; margin-right:10px;}
#show-kw-search {background:transparent; border:none; color:#005bc6; font-style:italic; cursor:pointer; margin-top:1em;}
#submit-area { clear:both; display:block; padding-top:1px;}
.reservessubmit { -webkit-border-radius: 4; -moz-border-radius: 4; border-radius: 4px; font-family: Arial; color: #ffffff; font-size: 15px; background: #005bc6; padding: 10px 20px 10px 20px; text-decoration: none; border:none; width:auto;
}
#reservessubmit-scc {background: #8a0028; }
#reservessubmit-scc:hover, #reservessubmit-scc:focus {background:#63011D}
#reservessubmit-flc {background:#0384A7;}
#reservessubmit-flc:hover, #reservessubmit-flc:focus {background: #06657C;}
#reservessubmit-crc {background:#2461A9;}
#reservessubmit-crc:hover, #reservessubmit-crc:focus {background:#193888;}
#reservessubmit-arc {background:#A4190E;}
#reservessubmit-arc:hover, #reservessubmit-arc:focus {background:#7C1109;}
.reservessubmit:hover {
  cursor:pointer;
  text-decoration: none;
}
.intip-basic-screen {float:right; position:relative; bottom:12px;}

.errortext   {
  max-width: 160px;
  color: #8A0028;
  font-weight: bold;
  font-size: 12px;
  margin-bottom:-20px;
}
input.error { border: 2px solid #8A0028;}
#loader {width:32px; height:32px; margin:0 auto;}
#need-help {float:right; color:#005bc6; font-size:13px;}
.hidden {display:none;}
.shown {position:absolute; left:50%; top:40px;}